<div class="container ">
  <div class="row">
    <div class = "col-xs-6 col-xs-offset-3">


     <h2>Update <%= @resource_name.to_s.humanize %></h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
            <%= f.input :prenom, label: "First name",
                    required: true,
                    autofocus: true
            %>
            <%= f.input :nom, label: "Last name",
                    required: true,
                    autofocus: true
            %>
            <%= f.input :age,
                    required: true,
                    autofocus: true
            %>


          <div class="permis">
            <!-- <div class="row"> -->
              <% if current_user.permis %>
                <%= f.input :docpermis , label: "Driving license VALIDATED" %>
              <% elsif !current_user.permis && current_user.docpermis.present?%>
                <%= f.input :docpermis , label: "Driving license VALIDATION IN PROGRESS " %>
              <%else  %>
              <%= f.input :docpermis , label: "Driving license " %>
              <%end  %>
                <%= f.input :docpermis_cache, as: :hidden %>

              <% if current_user.docpermis.present?%>
                <%= cl_image_tag resource.docpermis, height: 200, width: 200, crop: :fill %>
              <% end %>
        <!--     </div> -->
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
          <div>
            <%= f.input :password,
                        hint: "leave it blank if you don't want to change it",
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
          </div>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update", class: 'button btn-block'  %>
        </div>
      <% end %>



      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

      <%= link_to "Back", :back %>
    </div>
  </div>
</div>
