<button type="button" data-toggle="modal" data-target="#exampleModalCenter">
  Votre cocktail
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">

      <div class="modal-body">
        <%= form_for @reservation do |f| %>
          <%= f.label :date_debut %>
        <%= f.text_field :date_debut %>
        <%= f.label :date_fin %>
        <%= f.text_field :date_fin %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Fermer</button>
        <%=f.button :submit  %>
      <% end %>
      </div>
    </div>
  </div>
