<!-- Modal -->
<div class="modal fade" id="myModal<%= scooter.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
          <%= scooter.marque %>
          <%= scooter.modele %>
        </h4>
      </div>
      <div class="modal-body">
        <ul>
          <li>ANNÉE: <%= scooter.annee %></li>
          <li>kILOMETRAGE: <%= scooter.kilometrage %></li>
          <li>CATEGORIE: <%= scooter.categorie %></li>
          <li>PERMIS: <%= scooter.permis %></li>
          <li>DISPONIBILITÉ: <%= scooter.disponible %></li>
          <li>PRIX/JOUR: <%= scooter.prix %></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">réserver</button>
      </div>
    </div>
  </div>
</div>
