<div class="container">
  <div class="row">
    <h1>Mes Réservations</h1>
    <div class="col-xs-8 col-xs-offset-2">
      <div class="reservations">
        <% @reservations.each do |reservation| %>
          <div class="message">
            <img class="avatar-large" src=<%= reservation.scooter.url %>>
            <div class="message-name">
              <h3><%= reservation.scooter.marque %></h3>
              <p><%= reservation.scooter.modele %></p>
            </div>
            <div class="message-body">
              <p>du <%= reservation.date_debut %> au <%= reservation.date_fin %></p>
            </div>
            <div class="message-status">
              <% if reservation.date_fin < Time.now %>
                <p class="status pending">Terminé</p>
              <% else %>
                <p class="status accepted">En cours</p>
              <% end %>
              <p class="price"><%= ((Date.parse(reservation.date_fin) - Date.parse(reservation.date_debut)) * reservation.scooter.prix).to_i %>€</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
