<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 20%), url('https://images.pexels.com/photos/949588/pexels-photo-949588.jpeg');">
  <div class="banner-content">
    <h1>Scoot in Mars</h1>
    <p>location de scooter sur Marseille</p>
    <a class="button">Reserver un scooter</a>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <p></p>
    </div>
  </div>
</div>


<div
  id="map"
  style="width: 100%;
  height: 400px;"
  data-markers="<%= @markers.to_json %>"
></div>

<div class="container">
  <div class="row">
    <% @scooters.each do |scooter| %>
      <%= render 'partials/resa', scooter: scooter %>
      <div class="col-xs-4">
        <a data-toggle="modal" href="#myModal<%= scooter.id %>">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= scooter.url %>);">
            <div class="card-category"><%= scooter.marque %></div>
            <div class="card-description"><%= scooter.modele %></div>
            <div class="card-prix"><%= scooter.prix %> €/j</div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>
